body {
  margin:0;
  padding:0;
  overflow:hidden;
}

canvas {
  display:block;
}

@font-face {
  font-family: 'Arcade';
  src: local('Arcade'), local('Arcade'), url('./app/assets/fonts/arcade.woff');
}